@import "tailwindcss";

@theme {
  --color-brand-bg: var(--color-brand-bg);
  --color-brand-card: var(--color-brand-card);
  --color-brand-text: var(--color-brand-text);
  --color-brand-text-muted: var(--color-brand-text-muted);
  --color-brand-border: var(--color-brand-border);
  --color-brand-btn: var(--color-brand-btn);
  --color-brand-btn-text: var(--color-brand-btn-text);
  
  --font-sans: var(--font-inter);
  --font-display: var(--font-syne);
}

@layer base {
  :root {
    --color-brand-bg: #f4f5f8;
    --color-brand-card: #ffffff;
    --color-brand-text: #18181b;
    --color-brand-text-muted: #71717a;
    --color-brand-border: #e4e4e7;
    --color-brand-btn: #0ea5e9;
    --color-brand-btn-text: #ffffff;
  }
  
  .dark {
    --color-brand-bg: #000000;
    --color-brand-card: #09090b;
    --color-brand-text: #f4f4f5;
    --color-brand-text-muted: #a1a1aa;
    --color-brand-border: #27272a;
    --color-brand-btn: #0ea5e9;
    --color-brand-btn-text: #ffffff;
  }
  
  body {
    background-color: var(--color-brand-bg);
    color: var(--color-brand-text);
  }
}
